<meta charset="utf-8"> 
<link rel="stylesheet" href="../static/style.css">
<p id="includedContent">

<br /><br />8/3/2021 12:51  The county Dabrowa Gornicza conquered territory of zawiercianski previously owned by county zawiercianski. 
<br /><br />8/3/2021 12:51  The county klobucki conquered territory of Czestochowa previously owned by county Czestochowa. The county Czestochowa was completely destroyed.
<br /><br />8/3/2021 12:50  The county zawiercianski conquered territory of myszkowski previously owned by county myszkowski. The county myszkowski was completely destroyed.
<br /><br />8/3/2021 12:50  The county Piekary Slaskie conquered territory of Siemianowice Slaskie previously owned by county Siemianowice Slaskie. The county Siemianowice Slaskie was completely destroyed.
<br /><br />8/3/2021 12:49  The county Katowice conquered territory of Chorzow previously owned by county Chorzow. The county Chorzow was completely destroyed.
<br /><br />8/3/2021 12:49  The county tarnogorski conquered territory of lubliniecki previously owned by county bedzinski. 
<br /><br />8/3/2021 12:48  The county raciborski conquered territory of wodzislawski previously owned by county Rybnik. 
<br /><br />8/3/2021 12:48  The county Jaworzno conquered territory of Myslowice previously owned by county Myslowice. The county Myslowice was completely destroyed.
<br /><br />8/3/2021 12:42  The county bielski conquered territory of pszczynski previously owned by county pszczynski. The county pszczynski was completely destroyed.
<br /><br />8/3/2021 12:41  The county Rybnik conquered territory of rybnicki previously owned by county rybnicki. The county rybnicki was completely destroyed.
<br /><br />8/3/2021 12:41  The county bedzinski conquered territory of lubliniecki previously owned by county lubliniecki. The county lubliniecki was completely destroyed.
<br /><br />8/3/2021 12:40  The county Rybnik conquered territory of wodzislawski previously owned by county wodzislawski. The county wodzislawski was completely destroyed.

</p>