<meta charset="utf-8"> 
<link rel="stylesheet" href="../static/style.css">
<p id="includedContent">

<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Ruda Slaska previously owned by county gliwicki. The county gliwicki was completely destroyed. All territories have been conquered by county Myslowice. Game over.
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Siemianowice Slaskie previously owned by county zawiercianski. The county zawiercianski was completely destroyed.
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of lubliniecki previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of cieszynski previously owned by county raciborski. The county raciborski was completely destroyed.
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Rybnik previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Zabrze previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Gliwice previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Swietochlowice previously owned by county Gliwice. The county Gliwice was completely destroyed.
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Katowice previously owned by county Gliwice. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Chorzow previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county Gliwice conquered territory of Katowice previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Piekary Slaskie previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of rybnicki previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county raciborski conquered territory of Gliwice previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Bytom previously owned by county Zabrze. The county Zabrze was completely destroyed.
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of gliwicki previously owned by county gliwicki. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of tarnogorski previously owned by county raciborski. 
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of Czestochowa previously owned by county Czestochowa. The county Czestochowa was completely destroyed.
<br /><br />9/3/2021 23:37  The county Myslowice conquered territory of bielski previously owned by county Myslowice. 
<br /><br />9/3/2021 23:37  The county raciborski conquered territory of rybnicki previously owned by county Myslowice. 
<br /><br />9/3/2021 23:37  The county raciborski conquered territory of Gliwice previously owned by county gliwicki. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of raciborski previously owned by county raciborski. 
<br /><br />9/3/2021 23:36  The county raciborski conquered territory of tarnogorski previously owned by county gliwicki. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of myszkowski previously owned by county gliwicki. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of bedzinski previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of klobucki previously owned by county gliwicki. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of mikolowski previously owned by county gliwicki. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of wodzislawski previously owned by county raciborski. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of czestochowski previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of zawiercianski previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of rybnicki previously owned by county gliwicki. 
<br /><br />9/3/2021 23:36  The county zawiercianski conquered territory of lubliniecki previously owned by county gliwicki. 
<br /><br />9/3/2021 23:36  The county gliwicki conquered territory of Ruda Slaska previously owned by county raciborski. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of Jastrzebie-Zdroj previously owned by county Jastrzebie-Zdroj. The county Jastrzebie-Zdroj was completely destroyed.
<br /><br />9/3/2021 23:36  The county gliwicki conquered territory of mikolowski previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of Zory previously owned by county raciborski. 
<br /><br />9/3/2021 23:36  The county zawiercianski conquered territory of bedzinski previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:36  The county raciborski conquered territory of Katowice previously owned by county Gliwice. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of bierunsko-ledzinski previously owned by county Zory. The county Zory was completely destroyed.
<br /><br />9/3/2021 23:36  The county Gliwice conquered territory of Katowice previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:36  The county raciborski conquered territory of Ruda Slaska previously owned by county Gliwice. 
<br /><br />9/3/2021 23:36  The county gliwicki conquered territory of rybnicki previously owned by county raciborski. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of Tychy previously owned by county raciborski. 
<br /><br />9/3/2021 23:36  The county gliwicki conquered territory of myszkowski previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:36  The county Myslowice conquered territory of Bielsko-Biala previously owned by county raciborski. 
<br /><br />9/3/2021 23:35  The county gliwicki conquered territory of gliwicki previously owned by county raciborski. 
<br /><br />9/3/2021 23:35  The county zawiercianski conquered territory of Piekary Slaskie previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of gliwicki previously owned by county raciborski. 
<br /><br />9/3/2021 23:35  The county gliwicki conquered territory of klobucki previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:35  The county zawiercianski conquered territory of czestochowski previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:35  The county Czestochowa conquered territory of Piekary Slaskie previously owned by county Piekary Slaskie. The county Piekary Slaskie was completely destroyed.
<br /><br />9/3/2021 23:35  The county Czestochowa conquered territory of mikolowski previously owned by county raciborski. 
<br /><br />9/3/2021 23:35  The county Czestochowa conquered territory of Katowice previously owned by county raciborski. 
<br /><br />9/3/2021 23:35  The county gliwicki conquered territory of lubliniecki previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of Tychy previously owned by county Zory. 
<br /><br />9/3/2021 23:35  The county Myslowice conquered territory of zywiecki previously owned by county bielski. The county bielski was completely destroyed.
<br /><br />9/3/2021 23:35  The county Czestochowa conquered territory of bedzinski previously owned by county Zory. 
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of Chorzow previously owned by county Zabrze. 
<br /><br />9/3/2021 23:35  The county Gliwice conquered territory of Ruda Slaska previously owned by county Gliwice. 
<br /><br />9/3/2021 23:35  The county Zory conquered territory of bierunsko-ledzinski previously owned by county Myslowice. 
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of Zabrze previously owned by county Gliwice. 
<br /><br />9/3/2021 23:35  The county Zabrze conquered territory of Bytom previously owned by county Katowice. The county Katowice was completely destroyed.
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of Bielsko-Biala previously owned by county Bielsko-Biala. The county Bielsko-Biala was completely destroyed.
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of gliwicki previously owned by county gliwicki. 
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of Katowice previously owned by county Zory. 
<br /><br />9/3/2021 23:35  The county raciborski conquered territory of Rybnik previously owned by county Zory. 
<br /><br />9/3/2021 23:35  The county Myslowice conquered territory of Dabrowa Gornicza previously owned by county Zory. 
<br /><br />9/3/2021 23:35  The county zawiercianski conquered territory of myszkowski previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:35  The county gliwicki conquered territory of tarnogorski previously owned by county Katowice. 
<br /><br />9/3/2021 23:34  The county Gliwice conquered territory of Swietochlowice previously owned by county Zabrze. 
<br /><br />9/3/2021 23:34  The county Czestochowa conquered territory of lubliniecki previously owned by county Katowice. 
<br /><br />9/3/2021 23:34  The county Czestochowa conquered territory of myszkowski previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:34  The county Zory conquered territory of Dabrowa Gornicza previously owned by county Myslowice. 
<br /><br />9/3/2021 23:34  The county raciborski conquered territory of Zory previously owned by county Zory. 
<br /><br />9/3/2021 23:34  The county Czestochowa conquered territory of czestochowski previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:34  The county raciborski conquered territory of raciborski previously owned by county raciborski. 
<br /><br />9/3/2021 23:34  The county Zabrze conquered territory of Chorzow previously owned by county Katowice. 
<br /><br />9/3/2021 23:34  The county Zory conquered territory of bedzinski previously owned by county Myslowice. 
<br /><br />9/3/2021 23:34  The county zawiercianski conquered territory of zawiercianski previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:34  The county Myslowice conquered territory of bedzinski previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:34  The county Myslowice conquered territory of bielski previously owned by county Bielsko-Biala. 
<br /><br />9/3/2021 23:34  The county Myslowice conquered territory of Dabrowa Gornicza previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:34  The county Zory conquered territory of Katowice previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:34  The county gliwicki conquered territory of Gliwice previously owned by county Gliwice. 
<br /><br />9/3/2021 23:34  The county Bielsko-Biala conquered territory of bielski previously owned by county bielski. 
<br /><br />9/3/2021 23:34  The county Myslowice conquered territory of pszczynski previously owned by county raciborski. 
<br /><br />9/3/2021 23:34  The county Zory conquered territory of Rybnik previously owned by county gliwicki. 
<br /><br />9/3/2021 23:34  The county raciborski conquered territory of cieszynski previously owned by county bielski. 
<br /><br />9/3/2021 23:34  The county raciborski conquered territory of pszczynski previously owned by county Jastrzebie-Zdroj. 
<br /><br />9/3/2021 23:34  The county Gliwice conquered territory of Ruda Slaska previously owned by county Zabrze. 
<br /><br />9/3/2021 23:34  The county Katowice conquered territory of lubliniecki previously owned by county Czestochowa. 
<br /><br />9/3/2021 23:34  The county Czestochowa conquered territory of lubliniecki previously owned by county myszkowski. The county myszkowski was completely destroyed.
<br /><br />9/3/2021 23:34  The county Czestochowa conquered territory of zawiercianski previously owned by county klobucki. The county klobucki was completely destroyed.
<br /><br />9/3/2021 23:33  The county zawiercianski conquered territory of Katowice previously owned by county Zory. 
<br /><br />9/3/2021 23:33  The county Katowice conquered territory of tarnogorski previously owned by county Gliwice. 
<br /><br />9/3/2021 23:33  The county zawiercianski conquered territory of myszkowski previously owned by county myszkowski. 
<br /><br />9/3/2021 23:33  The county raciborski conquered territory of mikolowski previously owned by county Myslowice. 
<br /><br />9/3/2021 23:33  The county zawiercianski conquered territory of Dabrowa Gornicza previously owned by county Dabrowa Gornicza. The county Dabrowa Gornicza was completely destroyed.
<br /><br />9/3/2021 23:33  The county Czestochowa conquered territory of klobucki previously owned by county klobucki. 
<br /><br />9/3/2021 23:33  The county Czestochowa conquered territory of czestochowski previously owned by county klobucki. 
<br /><br />9/3/2021 23:33  The county Zabrze conquered territory of Ruda Slaska previously owned by county Ruda Slaska. The county Ruda Slaska was completely destroyed.
<br /><br />9/3/2021 23:33  The county Katowice conquered territory of Bytom previously owned by county Gliwice. 
<br /><br />9/3/2021 23:33  The county raciborski conquered territory of rybnicki previously owned by county rybnicki. The county rybnicki was completely destroyed.
<br /><br />9/3/2021 23:33  The county klobucki conquered territory of zawiercianski previously owned by county zawiercianski. 
<br /><br />9/3/2021 23:33  The county Myslowice conquered territory of Sosnowiec previously owned by county Dabrowa Gornicza. 
<br /><br />9/3/2021 23:33  The county Gliwice conquered territory of tarnogorski previously owned by county Bytom. The county Bytom was completely destroyed.
<br /><br />9/3/2021 23:33  The county Gliwice conquered territory of Bytom previously owned by county Bytom. 
<br /><br />9/3/2021 23:33  The county raciborski conquered territory of wodzislawski previously owned by county wodzislawski. The county wodzislawski was completely destroyed.
<br /><br />9/3/2021 23:33  The county zawiercianski conquered territory of Siemianowice Slaskie previously owned by county Siemianowice Slaskie. The county Siemianowice Slaskie was completely destroyed.
<br /><br />9/3/2021 23:33  The county gliwicki conquered territory of Rybnik previously owned by county Rybnik. The county Rybnik was completely destroyed.
<br /><br />9/3/2021 23:33  The county bielski conquered territory of cieszynski previously owned by county Zory. 
<br /><br />9/3/2021 23:33  The county bielski conquered territory of zywiecki previously owned by county cieszynski. The county cieszynski was completely destroyed.
<br /><br />9/3/2021 23:33  The county Zory conquered territory of Katowice previously owned by county Zory. 
<br /><br />9/3/2021 23:33  The county Jastrzebie-Zdroj conquered territory of pszczynski previously owned by county Zory. 
<br /><br />9/3/2021 23:33  The county Zory conquered territory of cieszynski previously owned by county cieszynski. 
<br /><br />9/3/2021 23:33  The county Zory conquered territory of Katowice previously owned by county Myslowice. 
<br /><br />9/3/2021 23:33  The county myszkowski conquered territory of lubliniecki previously owned by county klobucki. 
<br /><br />9/3/2021 23:32  The county Myslowice conquered territory of bierunsko-ledzinski previously owned by county Katowice. 
<br /><br />9/3/2021 23:32  The county Myslowice conquered territory of mikolowski previously owned by county mikolowski. The county mikolowski was completely destroyed.
<br /><br />9/3/2021 23:32  The county cieszynski conquered territory of zywiecki previously owned by county bielski. 
<br /><br />9/3/2021 23:32  The county Zory conquered territory of Tychy previously owned by county Tychy. The county Tychy was completely destroyed.
<br /><br />9/3/2021 23:32  The county zawiercianski conquered territory of bedzinski previously owned by county klobucki. 
<br /><br />9/3/2021 23:32  The county klobucki conquered territory of bedzinski previously owned by county bedzinski. The county bedzinski was completely destroyed.
<br /><br />9/3/2021 23:32  The county klobucki conquered territory of lubliniecki previously owned by county lubliniecki. The county lubliniecki was completely destroyed.
<br /><br />9/3/2021 23:32  The county Myslowice conquered territory of Katowice previously owned by county Zabrze. 
<br /><br />9/3/2021 23:32  The county Dabrowa Gornicza conquered territory of Sosnowiec previously owned by county Sosnowiec. The county Sosnowiec was completely destroyed.
<br /><br />9/3/2021 23:32  The county Bytom conquered territory of tarnogorski previously owned by county tarnogorski. The county tarnogorski was completely destroyed.
<br /><br />9/3/2021 23:32  The county Gliwice conquered territory of Zabrze previously owned by county Zabrze. 
<br /><br />9/3/2021 23:32  The county Zabrze conquered territory of Katowice previously owned by county Katowice. 
<br /><br />9/3/2021 23:32  The county Katowice conquered territory of bierunsko-ledzinski previously owned by county Zory. 
<br /><br />9/3/2021 23:32  The county Zabrze conquered territory of Swietochlowice previously owned by county Swietochlowice. The county Swietochlowice was completely destroyed.
<br /><br />9/3/2021 23:32  The county Zory conquered territory of bierunsko-ledzinski previously owned by county bierunsko-ledzinski. The county bierunsko-ledzinski was completely destroyed.
<br /><br />9/3/2021 23:32  The county Zory conquered territory of pszczynski previously owned by county pszczynski. The county pszczynski was completely destroyed.
<br /><br />9/3/2021 23:32  The county Myslowice conquered territory of Jaworzno previously owned by county Jaworzno. The county Jaworzno was completely destroyed.
<br /><br />9/3/2021 23:32  The county Katowice conquered territory of Chorzow previously owned by county Chorzow. The county Chorzow was completely destroyed.
<br /><br />9/3/2021 23:32  The county bielski conquered territory of zywiecki previously owned by county zywiecki. The county zywiecki was completely destroyed.
<br /><br />9/3/2021 23:32  The county klobucki conquered territory of czestochowski previously owned by county czestochowski. The county czestochowski was completely destroyed.

</p>