<meta charset="utf-8"> 
<link rel="stylesheet" href="../static/style.css">
<p id="includedContent">

<br /><br />10/3/2021 10:19  The county pszczynski conquered territory of Jastrzebie-Zdroj previously owned by county Jastrzebie-Zdroj. The county Jastrzebie-Zdroj was completely destroyed.
<br /><br />10/3/2021 10:19  The county mikolowski conquered territory of gliwicki previously owned by county gliwicki. The county gliwicki was completely destroyed.
<br /><br />10/3/2021 10:19  The county cieszynski conquered territory of bielski previously owned by county bielski. The county bielski was completely destroyed.
<br /><br />10/3/2021 10:19  The county Rybnik conquered territory of wodzislawski previously owned by county wodzislawski. The county wodzislawski was completely destroyed.
<br /><br />10/3/2021 10:17  The county Myslowice conquered territory of bierunsko-ledzinski previously owned by county bierunsko-ledzinski. The county bierunsko-ledzinski was completely destroyed.

</p>