<meta charset="utf-8">
<link rel="stylesheet" href="../static/style.css"><table id="sheet">
<tr><th>County</th><th>Score</th><th>Number of territories</th></tr>
<tr><td>Zory</td>
<td>0.834</td>
<td>2</td>
</tr><tr><td>zywiecki</td>
<td>1.086</td>
<td>2</td>
</tr><tr><td>Swietochlowice</td>
<td>0.426</td>
<td>1</td>
</tr><tr><td>bedzinski</td>
<td>0.609</td>
<td>1</td>
</tr><tr><td>Bielsko-Biala</td>
<td>0.449</td>
<td>1</td>
</tr><tr><td>bielski</td>
<td>0.558</td>
<td>1</td>
</tr><tr><td>Bytom</td>
<td>0.245</td>
<td>1</td>
</tr><tr><td>Chorzow</td>
<td>0.38</td>
<td>1</td>
</tr><tr><td>cieszynski</td>
<td>0.318</td>
<td>1</td>
</tr><tr><td>Czestochowa</td>
<td>0.375</td>
<td>1</td>
</tr><tr><td>czestochowski</td>
<td>0.512</td>
<td>1</td>
</tr><tr><td>Gliwice</td>
<td>0.544</td>
<td>1</td>
</tr><tr><td>gliwicki</td>
<td>0.407</td>
<td>1</td>
</tr><tr><td>Jaworzno</td>
<td>1.502</td>
<td>3</td>
</tr><tr><td>klobucki</td>
<td>0.365</td>
<td>1</td>
</tr><tr><td>Katowice</td>
<td>0.25</td>
<td>1</td>
</tr><tr><td>lubliniecki</td>
<td>0.422</td>
<td>1</td>
</tr><tr><td>mikolowski</td>
<td>0.351</td>
<td>1</td>
</tr><tr><td>Myslowice</td>
<td>0.491</td>
<td>1</td>
</tr><tr><td>myszkowski</td>
<td>0.384</td>
<td>1</td>
</tr><tr><td>Piekary Slaskie</td>
<td>0.379</td>
<td>1</td>
</tr><tr><td>raciborski</td>
<td>0.366</td>
<td>1</td>
</tr><tr><td>Ruda Slaska</td>
<td>0.284</td>
<td>1</td>
</tr><tr><td>Rybnik</td>
<td>0.514</td>
<td>1</td>
</tr><tr><td>rybnicki</td>
<td>0.479</td>
<td>1</td>
</tr><tr><td>Siemianowice Slaskie</td>
<td>0.591</td>
<td>1</td>
</tr><tr><td>tarnogorski</td>
<td>1.512</td>
<td>3</td>
</tr><tr><td>Tychy</td>
<td>0.352</td>
<td>1</td>
</tr><tr><td>wodzislawski</td>
<td>0.535</td>
<td>1</td>
</tr><tr><td>zawiercianski</td>
<td>0.625</td>
<td>1</td>
</tr></table>