<meta charset="utf-8">
<link rel="stylesheet" href="../static/style.css"><table id="sheet">
<tr><th>County</th><th>Score</th><th>Number of territories</th></tr>
<tr><td>zywiecki</td>
<td>1.152</td>
<td>2</td>
</tr><tr><td>Swietochlowice</td>
<td>0.426</td>
<td>1</td>
</tr><tr><td>Bielsko-Biala</td>
<td>0.449</td>
<td>1</td>
</tr><tr><td>bierunsko-ledzinski</td>
<td>1.366</td>
<td>3</td>
</tr><tr><td>Dabrowa Gornicza</td>
<td>0.379</td>
<td>1</td>
</tr><tr><td>Jaworzno</td>
<td>1.173</td>
<td>2</td>
</tr><tr><td>klobucki</td>
<td>0.375</td>
<td>1</td>
</tr><tr><td>lubliniecki</td>
<td>0.512</td>
<td>1</td>
</tr><tr><td>mikolowski</td>
<td>0.352</td>
<td>1</td>
</tr><tr><td>myszkowski</td>
<td>0.384</td>
<td>1</td>
</tr><tr><td>Piekary Slaskie</td>
<td>2.43</td>
<td>5</td>
</tr><tr><td>raciborski</td>
<td>0.366</td>
<td>1</td>
</tr><tr><td>Siemianowice Slaskie</td>
<td>0.245</td>
<td>1</td>
</tr><tr><td>Sosnowiec</td>
<td>0.329</td>
<td>1</td>
</tr><tr><td>wodzislawski</td>
<td>4.724</td>
<td>11</td>
</tr><tr><td>Zabrze</td>
<td>0.857</td>
<td>2</td>
</tr><tr><td>zawiercianski</td>
<td>0.625</td>
<td>1</td>
</tr></table>