# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Alicja\PycharmProjects\flaskGeo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
C:\Users\Alicja\PycharmProjects\flaskGeo\data/
C:\Users\Alicja\PycharmProjects\flaskGeo\ranking.csv
C:\Users\Alicja\PycharmProjects\flaskGeo\static\res.png